<div class="container py-3">

    <div class="row my-3" *ngIf="success != null">
        <div class="col text-center">
            <i class="bi bi-check-circle"></i>
            <h4>Usuario registrado exitosamente!</h4>
        </div>
    </div>

    <div class="row my-3" *ngIf="error != null">
        <div class="col text-center">
            <i class="bi bi-x-circle"></i>
            <h4>Se ha producido un error:</h4>
            <div>{{error}}</div>
        </div>
    </div>

    <div *ngIf="success == null && error == null">
        <div class="row my-3">
            <div class="col">
                <h4>Registro</h4>
            </div>
        </div>
        <form [formGroup]="formulario" (ngSubmit)="submitForm()">
            <div class="row">
                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input class="form-control" formControlName="nombre">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input class="form-control" formControlName="apellido">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input class="form-control" formControlName="telefono" type="number">
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="calle">Calle</label>
                            <input class="form-control" formControlName="calle">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="number" class="form-control" formControlName="numero">
                        </div>
                    </div>
                </div>


            </div>

            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="localidad">Localidad</label>
                            <input type="text" class="form-control" formControlName="localidad">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="for">
                        <div class="form-group">
                            <label for="confirmPassword">Confirmar contraseña</label>
                            <input type="password" class="form-control" formControlName="confirmPassword">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-md-4 text-center">
                    <input type="submit" value="Enviar" class="btn btn-primary w-100">
                </div>
            </div>
        </form>

    </div>


</div>