<div class="container pt-1">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <br>
            <h4>Reportes Estadísticos</h4>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <br>
    <div class="col">
        <div class="card" style="max-width: 100%;margin-bottom:20px;">
            <h5 class="card-header">Comidas más pedidas</h5>
            <div class="card-body">
                <app-chart-comidas></app-chart-comidas>
            </div>
        </div>
        <div class="card" style="max-width: 100%;margin-bottom:20px;">
            <h5 class="card-header">Ingresos por período de tiempo</h5>
            <div class="card-body">
                <app-chart-ingresos></app-chart-ingresos>
            </div>
        </div>
        <div class="card" style="max-width: 100%;margin-bottom:20px;">
            <h5 class="card-header">Pedidos por período de tiempo</h5>
            <div class="card-body">
                <app-chart-pedidos></app-chart-pedidos>
            </div>
        </div>
        <div class="card" style="max-width: 100%;margin-bottom:20px;">
            <h5 class="card-header">Pedidos por período de tiempo</h5>
            <div class="card-body">
                <app-chart-pedidos-cliente></app-chart-pedidos-cliente>
            </div>
        </div>
        <div class="card" style="max-width: 100%;margin-bottom:20px;">
            <h5 class="card-header">Clientes registrados por período de tiempo</h5>
            <div class="card-body">
                <app-chart-clientes></app-chart-clientes>
            </div>
        </div>
    </div>
</div>